.navbar .navbar-toggler {
    top       : .25rem;
    right     : 1rem;
    /* display: block; */
}


a {
    color          : whitesmoke;
    text-decoration: none;
}

.input-group.md-form.form-sm.form-1 input {
    border                    : 1px solid #bdbdbd;
    border-top-right-radius   : 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

span[class="input-group-text h-100 w-100"] {
    background-color: #212529;
}

.update {
    background-color     : green;
}

.del {
    background-color: red;
}

.show-button {
    background-color: rgb(0, 119, 255);
}

.sticky-div {
    left  : 75%;
}

.product {
    width: 10rem;
    height: 10rem;
    margin: auto;
}

.product img{
    width: 10rem;
    height: 10rem;
}

header{
    height: 10vh;
}

.cont{
    height: 90vh;
}

.row{
    height: 100%;
}

/* .add{
    width: 100%;
    height: 100%;
} */

.add img{
    width: 100%;
    height: 100%;
}

h5{
    padding-bottom: 1%;
    border-bottom: 1px solid #d8d3d3;
}

.close{
    z-index: 3;
    background-color: #989da3;
}

.close:hover{
    background-color: red;
    color: aliceblue;
}